<form novalidate
	  ng-submit="vm.add()"
	  name="vm.form">
	<fieldset ng-disabled="vm.saving">

		<div class="modal-header">
			<h3 class="modal-title">Add New Opportunity</h3>
		</div>

		<div class="modal-body">

			<div class="alert alert-info" ng-hide="vm.errorMessage != null">
				Enter details for the new opportunity.
			</div>
			<div class="alert alert-danger" ng-show="vm.errorMessage != null">
				{{vm.errorMessage}}
			</div>

			<div class="form-group has-feedback">
				<label class="control-label" for="Title">Title</label>
				<input required ng-model="vm.opportunity.title"
					   class="form-control" name="Title" type="text" placeholder="Title...">
			</div>

			<div class="form-group has-feedback">
				<label class="control-label" for="Description">Description</label>
				<textarea ng-model="vm.opportunity.description" rows="6"
						  class="form-control" name="Description" placeholder="Description..."></textarea>
			</div>

		</div>

		<div class="modal-footer">
			<button class="btn btn-success">Add Opportunity</button>
			<button type="button" class="btn btn-warning" ng-click="$parent.$dismiss()">Cancel</button>
		</div>

	</fieldset>
</form>