@using HeroicCRM.Web.Helpers
@using HeroicCRM.Web.Models
@model dynamic

@{
    ViewBag.Title = "Reports";
}

<h1 class="page-header">
    Reports
</h1>

@(Html.Angular().GridFor<ReportController>(c => c.NewCustomers()).Title("New Customers"))
    
<lost-customers-report></lost-customers-report>
